@font-face {
    font-family: "Barlow";
    src: url("../Assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf") format('TrueType');
    font-weight: 600;
}
@font-face {
    font-family: "Barlow";
    src: url("../Assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-ExtraBold.ttf") format('TrueType');
    font-weight: 700;
}