@use '../../Styles/variables' as*;

.result {
    height:40%;
    width: 100vw;
    
    &__moves {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    &__div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
    }

    &__text {
        color: white;
        font-size: 1rem;
        text-align: center;
        letter-spacing: .1rem;
    }

    &__rock {
        height: 6.5rem;
        width: 6.5rem;
        border-radius: 50%;
        background-image: url('../../Assets/images/icon-rock.svg');
        background-color: white;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 3rem;
        border: 14px solid #dd3c5b;
        margin: 0rem .5rem;
        margin-bottom: 2rem;
        box-shadow: 0px 6px 0px 0px #9c1834, inset 0px 4px 2px 0px #bcc2ce;
    }

    &__scissor {
        height: 6.5rem;
        width: 6.5rem;
        border-radius: 50%;
        background-image: url('../../Assets/images/icon-scissors.svg');
        background-color: white;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 3rem;
        border: 14px solid #eaa31c;
        margin: 0rem .5rem;
        margin-bottom: 2rem;
        box-shadow: 0px 6px 0px 0px #c76c1a, inset 0px 4px 2px 0px #bcc2ce;
    }
    
    &__paper {
        height: 6.5rem;
        width: 6.5rem;
        border-radius: 50%;
        background-image: url('../../Assets/images/icon-paper.svg');
        background-color: white;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 3rem;
        border: 14px solid #506ef2;
        margin: 0rem .5rem;
        margin-bottom: 2rem;
        box-shadow:0px 6px 0px 0px #2846c3, inset 0px 4px 2px 0px #bcc2ce;
    }
    &__result{
        height: 20%;
        color: white;
        font-size: 4rem;
        text-align: center;
        letter-spacing: .1rem;
    }
    &__playagain{
        height: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 3rem;
    }
    &__playagainbutton{
        font-size: large;
        letter-spacing: .2rem ;
        color: $DarkText;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        width: 15rem;
        margin-top: 3rem;
        background-color: white;
        text-align: center;
        border-radius: 0.5rem;
    }
}